<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
<style>
    body{
        padding:0;
        margin:0;
    }
    .header{
        background:#0082c3;
        color:white;
    }
    .logo{
        padding:15px;
        width:150px;
    }
    .pad{
       padding:15px;
    }
</style>
</head>
<body>
<div class="header">
    <img class="logo" alt="Intuit TurboTax" src="https://turbotax.intuit.com/handlebars/common/templates/partials/navbar/images/logo_ttcom.856557a3.png">
</div>
<div class="pad">
    Hello world
</div>

</body>
</html>